﻿@model AdsKater.DbModels.AdvertisementPrize

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdvertisementPrize</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrizeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrizeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrizeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrizeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrizeLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrizeLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advertisement.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advertisement.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvertisementPrizesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
