﻿@model IEnumerable<AdsKater.DbModels.AdvertisementPrize>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrizeTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrizeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrizeLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advertisement.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrizeTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrizeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrizeLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Advertisement.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvertisementPrizesID }) 
        </td>
    </tr>
}

</table>
