﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ads Kater</h1>
    <p>Watch - Join - Win</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Watch</h2>
        <p>
            Watch the add videos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Join</h2>
        <p>Join the contest by watching the videos</p>
    </div>
    <div class="col-md-4">
        <h2>Earn</h2>
        <p>You can win the prizes by watching the videos</p>
    </div>
</div>